# Python virtual environment
venv/

# Python cache and compiled files
__pycache__/
*.py[cod]

# Logs
*.log

# IDE folders
.vscode/
.idea/

# OS files
.DS_Store

# Test reports (if any)
reports/
*.html
